$background-intro: #36365B;
$background-about: #3F3F69;
$background-projects: #4E4E82;
$background-skills: #53538A;
$background-contact:#6262A1;

$intro-fontColor: rgba(255, 255, 255, 1);
$about-fontColor: rgba(242, 242, 242, 1);
$projects-fontColor: rgba(229, 229, 229, 1);
$skills-fontColor: rgba(216, 216, 216, 1);
$contact-fontColor: rgba(204, 204, 204, 1);

$pageTitle-space: 10px;
$pageTitle-font:"Times New Roman", Times, serif;

$pageText-font: Verdana, Geneva, sans-serif;
